nav{background: black;}

body {
    background-color: #0bd3d3;
  }

footer {
    color: #ffffff;
}

p {
  margin-top: auto;
  font-size: smaller;
}

#image{
  margin-bottom: 10rem;
}

a{
  color: black;
}

#main {
  border: solid;
  
  margin-bottom: 5rem;
}




#havasu{
  padding-right: 0;
}

.project{
  background: #f890e7;
}
.projects{
  border: solid;
}

#contact{
  color:  white;
}

#contactMe{
  background-color: black;
}